 .u-section-1 {
  background-image: url("images/fondo.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 512px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: "Fredoka One";
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  margin: 75px 677px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 30px 655px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #004b87, #d12424);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 23px auto 60px 0;
  padding: 0 39px 0 37px;
}

.u-section-1 .u-icon-1 {
  font-size: 2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
    margin-right: 477px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 455px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 26.53% 37.31%;
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 257px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-text-1 {
  font-family: "Fredoka One";
  font-size: 3.75rem;
  margin: 47px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Overpass;
  font-size: 1.875rem;
  font-weight: 700;
  width: 451px;
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 469px;
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 28px;
}

.u-section-2 .u-icon-1 {
  height: 92px;
  width: 92px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-family: "Fredoka One";
  background-image: none;
  font-size: 1.875rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-4 {
  font-family: Overpass;
  margin: 15px 15px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 28px;
}

.u-section-2 .u-icon-2 {
  height: 92px;
  width: 92px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-family: "Fredoka One";
  background-image: none;
  font-size: 1.875rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-6 {
  font-family: Overpass;
  margin: 15px 15px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 28px;
}

.u-section-2 .u-icon-3 {
  height: 92px;
  width: 92px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-family: "Fredoka One";
  background-image: none;
  font-size: 1.875rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-8 {
  font-family: Overpass;
  margin: 15px 15px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 28px;
}

.u-section-2 .u-icon-4 {
  height: 92px;
  width: 92px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-family: "Fredoka One";
  background-image: none;
  font-size: 1.875rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-10 {
  font-family: Overpass;
  margin: 15px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 320px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 735px;
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 613px;
}

.u-section-3 .u-slider-1 {
  width: 1005px;
  min-height: 491px;
  height: auto;
  margin: 68px auto 53px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ab2827f1-a2ea-469f-874f-de59c41af595.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 67px auto 0;
}

.u-section-3 .u-text-2 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/c8df87024dae9642b40225b83745dfc46bfccbc400fdb47822a3a97ff4dba0d8889357a3ccd400e775e6d3d7b707ac949d6ed6ed13f3538ef811d2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 15px 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 67px auto 0;
}

.u-section-3 .u-text-4 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/2fbe485f98e81baacabf4160c8cc90cdd8ccdd3bd8290fc35916ef17e67a7565c21b91abf37f5aab1193732bbabf28e9362726899266caee83dc40_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 15px 30px 60px;
}

.u-section-3 .u-text-5 {
  margin: 67px auto 0;
}

.u-section-3 .u-text-6 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/qwer.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 15px 30px 60px;
}

.u-section-3 .u-text-7 {
  margin: 67px auto 0;
}

.u-section-3 .u-text-8 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
  padding: 8px;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-slider-1 {
    width: 606px;
    min-height: 440px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-text-4 {
    width: 320px;
  }

  .u-section-3 .u-text-6 {
    width: 320px;
  }

  .u-section-3 .u-text-8 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 668px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 876px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 669px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 28px;
}

.u-section-4 .u-text-1 {
  font-family: "Fredoka One";
  margin: 0 62px 0 2px;
}

.u-section-4 .u-form-1 {
  height: 606px;
  margin: 24px 8px 0 20px;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-input-1 {
  background-image: none;
  height: 55px;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-input-2 {
  background-image: none;
  height: 55px;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-input-3 {
  background-image: none;
  height: 55px;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-input-4 {
  background-image: none;
}

.u-section-4 .u-input-5 {
  height: 55px;
  background-image: none;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 669px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-4 .u-image-1 {
  object-position: 74.65% 50%;
  height: 510px;
  width: 306px;
  margin: 90px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-input-4 {
    height: 55px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 74.65% 50%;
  }

  .u-section-4 .u-image-1 {
    height: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-4 .u-image-1 {
    height: 456px;
    width: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-4 .u-image-1 {
    height: 790px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-4 .u-image-1 {
    height: 486px;
  }
}