 .u-section-1 {
  background-image: url("images/fondo.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 704px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: "Fredoka One";
  font-size: 4.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 213px 677px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 30px 655px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #004b87, #d12424);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 0 auto 60px 0;
  padding: 0 39px 0 37px;
}

.u-section-1 .u-icon-1 {
  font-size: 2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 477px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 455px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 26.53% 37.31%;
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 257px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1263px;
}

.u-section-2 .u-text-1 {
  font-family: "Fredoka One";
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 681px;
  font-family: Overpass;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 480px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-shape-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 30px 0 0;
}

.u-section-2 .u-shape-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-shape-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 30px 0 0;
}

.u-section-2 .u-shape-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 960px;
  background-image: url("images/Group.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 494px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-shape-5 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 30px 0 0;
}

.u-section-2 .u-shape-6 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 466px;
}

.u-section-2 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-shape-7 {
  box-shadow: 2px 0px 8px 0px rgba(128,128,128,1);
  margin: 30px 0 0;
}

.u-section-2 .u-shape-8 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 30px 0 0;
}

.u-section-2 .u-shape-9 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-2 .u-image-1 {
    min-height: 792px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 408px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 384px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 839px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 1259px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 793px;
  }
}

.u-section-2 .u-shape-5,
.u-section-2 .u-shape-5:before,
.u-section-2 .u-shape-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-shape-5.u-shape-5.u-shape-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-shape-5 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-shape-5.u-shape-5.u-shape-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-shape-5 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-shape-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-shape-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 613px;
}

.u-section-3 .u-slider-1 {
  width: 895px;
  min-height: 491px;
  height: auto;
  margin: 60px auto 58px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ab2827f1-a2ea-469f-874f-de59c41af595.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 67px auto 0;
}

.u-section-3 .u-text-2 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/c8df87024dae9642b40225b83745dfc46bfccbc400fdb47822a3a97ff4dba0d8889357a3ccd400e775e6d3d7b707ac949d6ed6ed13f3538ef811d2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 15px 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 67px auto 0;
}

.u-section-3 .u-text-4 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/2fbe485f98e81baacabf4160c8cc90cdd8ccdd3bd8290fc35916ef17e67a7565c21b91abf37f5aab1193732bbabf28e9362726899266caee83dc40_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 15px 30px 60px;
}

.u-section-3 .u-text-5 {
  margin: 67px auto 0;
}

.u-section-3 .u-text-6 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/qwer.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 15px 30px 60px;
}

.u-section-3 .u-text-7 {
  margin: 67px auto 0;
}

.u-section-3 .u-text-8 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
  padding: 8px;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
  padding: 8px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-slider-1 {
    width: 606px;
    min-height: 440px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-text-4 {
    width: 320px;
  }

  .u-section-3 .u-text-6 {
    width: 320px;
  }

  .u-section-3 .u-text-8 {
    width: 320px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 311px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 23px auto 37px -37px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 251px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-social-icons-1 {
  height: 61px;
  min-height: 16px;
  width: 305px;
  min-width: 124px;
  margin: 81px auto 0;
}

.u-section-4 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  height: 61px;
}

.u-section-4 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
  height: 61px;
}

.u-section-4 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
  height: 61px;
}

.u-section-4 .u-icon-4 {
  height: 61px;
  color: rgb(0, 137, 203) !important;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 251px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-4 .u-text-1 {
  font-family: "Fredoka One";
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: Overpass;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 29px 0 0 13px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 207px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 150px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 633px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 756px;
  margin: 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 513px;
}

.u-section-5 .u-container-layout-1 {
  padding: 27px 28px;
}

.u-section-5 .u-text-1 {
  font-family: "Fredoka One";
  margin: 0 62px 0 2px;
}

.u-section-5 .u-form-1 {
  height: 312px;
  width: 320px;
  margin: 24px 2px 0;
}

.u-section-5 .u-input-1 {
  height: 55px;
  background-image: none;
}

.u-section-5 .u-input-2 {
  height: 55px;
  background-image: none;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 513px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-5 .u-image-1 {
  object-position: 74.65% 50%;
  margin-top: 0;
  margin-bottom: 0;
  height: 483px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 74.65% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-5 .u-image-1 {
    height: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 790px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-5 .u-image-1 {
    height: 486px;
  }
}